
.login-registro {
width: 500px;
margin-left: 0;
}
.plogin{
background-color: lightblue;
  font-size: 30px;
  border: solid black 5px;
}
.pregistro{
  font-size: 40px;
  background-color: lightblue;
  border: solid black 5px;
}

.imagenlogo{
  width: 100px;
  height: 100px;
}

body{
  display:inline-block;
}

.datoV{
  float:right;
  font-size: 15px;
  color:white;
  margin-bottom: -2%;
}
h1{
  font-size: 20px;
}
// td{
//   margin-bottom: 14%;
// }
.datoI{
  font-size: 15px;
  color:black;
}
.login{
  margin-left: 18%;
}
.registro{
  margin-left: 10%;
}
img{
  width: 20px;
  height: 20px;
  margin: -1%;
}
